@tailwind base;
@tailwind components;
@tailwind utilities;


.recipe_BackgroundBlk{
  background-color: #000000;
  border-color: #FF7A00;
  color: white;
}

.recipe_BackgroundOrg{
  background-color: #FF7A00;
  border-color: #000000;
  color: black;
}



.form_Login{
  border-color: #FF7A00;
  margin-top: 10px;

}
.container_Input{
  align-content: center;
}

.input_Label{
    margin-left:10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Arial Light', sans-serif;
}

.login_Btn{
    box-shadow:  5px 10px rgb(119, 109, 109);
    border-radius: 15px;
    box-sizing: border-box;
    width: 38%;
    margin-left: 110px;
    margin-top: 20px;
    background-color: #FF7A00;
}

input[type=text], input[type=password] {
  box-shadow:  1px 7px rgb(119, 109, 109);
  width: 98%;
  max-width: 400px;
  display: block;
  margin-left: 3px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

h1.titleCenter{
    font-family: 'OKASINO', sans-serif;
    font-size: 50px;
    margin-left: 70px;
    font:bold;
}

h2.titleCenter{
  font-family: 'OKASINO', sans-serif,bold;
  font:bolder;
  font-size: 25px;

}

h2.login{
  font-family: 'OKASINO', sans-serif,bold;
  font:bolder;
  font-size: x-large;
  margin: 5px 260px;

}

.alternative_Btn {
  width: 150px;
  margin-left: 110px;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
  border-radius: 14px;
  background-color: #000000;
  box-shadow:  5px 10px rgb(119, 109, 109);
}

img.logo {
    margin: 110px 0px 0px; 
    border-radius: 50%;
}

img.user {
    margin:10px;
    margin-left: 150px;
    border-radius: 50%;
    box-shadow:  5px 10px rgb(119, 109, 109);
}

img.recipe{
  margin: -67px 0px 12px 41px;

}
img.iconSave{
  margin: 67px 0px 12px 41px;
  margin-top: 10px;
  background-color: transparent;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}